.ban {
  display: block;
  background-color: #191919;
  padding: 10px;
  font-family: Arial;
  border-bottom: solid #E2C438 5px;
  margin-bottom: 20px;
}

.ban-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.ban-reason {
  font-size: 18px;
}

.ban-banner {
  font-weight: normal;
  float: right;
}
