.form-input {
  color: #ffffff;
  border-width: 0px;
  border-bottom: solid #E2C438 5px;
  border-style: solid;
  outline: none;
  background-color: #100f0e;
  padding: 10px;
  font-size: 20px;
  width: 400px;
  font-weight: bold;
}

.form {
  text-align: center;
}

.form-errors {
  margin-bottom: 30px;
  display: inline-block;
}

.form-error {
  color: #ff0000;
  font-size: 20px;
  padding-top: 10px;
  width: 400px;
  text-align: left;
}


.form-submit {
  cursor: pointer;
  display: table-cell;
  padding: 10px;
  border: solid #E2C438 5px;
  color: #ffffff;
  font-size: 20px;
  background-color: #100f0e;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  text-decoration: none;
  width: 400px;
}

.form-submit:hover {
  background-color: #E2C438;
  color: #000000;
}


.form-post-title {
  color: #ffffff;
  border-width: 0px;
  border-bottom: solid #E2C438 5px;
  border-style: solid;
  outline: none;
  background-color: #100f0e;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}


.form-post-content {
  color: #ffffff;
  border-width: 0px;
  border-bottom: solid #E2C438 5px;
  border-style: solid;
  outline: none;
  background-color: #100f0e;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 400px;
  font-family: Courier;
  overflow-y: scroll !important;
  resize: none !important;
}


.form-post-submit {
  cursor: pointer;
  display: table-cell;
  padding: 10px;
  border: solid #E2C438 5px;
  color: #ffffff;
  font-size: 20px;
  background-color: #100f0e;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  text-decoration: none;
  width: 150px;
}

.form-post-submit:hover {
  background-color: #E2C438;
  color: #000000;
}

.form-post-errors {
  margin-bottom: 5px;
  display: inline-block;
}

.form-post-error {
  color: #ff0000;
  font-size: 20px;
  padding-top: 10px;
  text-align: left;
}
