.progress-bg {
	height: 40px;
  text-align: center;
  background-color: #000;
  border: solid 5px #E2C438;
  width: 80%;
  margin: auto auto;
}

.progress-bar {
	height: 40px;
	float: left;
	background: #E2C438;
  animation: progress-bar 2s ease forwards;
  max-width: 100%;
}

.progress-bg .progress-raised {
	font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 600;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
  color: #fff;
	margin: 14px 25px 0 50px;
	padding: 0 25px 0 0;
  animation: fadein 4s;
  white-space: nowrap;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



h1 {
  user-select: none;
  text-align: center;
  font-family: 'Sigmar One', Arial;
  font-size: 40px;
  line-height: 40px;
  color: #E2C438;
  text-decoration: underline;
  white-space: nowrap;
}

.server-info {
  padding: 15px;
  float: left;
  display: inline-block;
  width: calc(100% - 385px);
  background-color: #191919;
  box-shadow: 0 0 4px 4px #2a2a2a;
  overflow: hidden;
}

.links {
  float: right;
  display: inline-block;
  width: 320px;
  background-color: #191919;
  box-shadow: 0 0 4px 4px #2a2a2a;
}

.link:nth-last-child(1) {
  border-bottom: solid #E2C438 0px !important;
}

.links-header {
  box-shadow: 0 0 4px 4px #2a2a2a;
  background-color: #000000;
  font-size: 30px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: 'Sigmar One', Arial;
}

.link {
  text-align: center;
  display: block;
  color: #E2C438;
  font-family: 'Sigmar One', Arial;
  font-size: 25px;
  text-decoration: none;
  border-bottom: solid #E2C438 1px;
  padding: 5px 0px;
  margin: 0px 15px;
}

p {
  text-indent: 40px;
}
