.round {
  display: block;
  background-color: #191919;
  padding: 10px;
  font-family: Arial;
  border-bottom: solid #E2C438 5px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 4px 4px #2a2a2a;
}

.round-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  user-select: none;
}

.u-round-header {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 15px;
  user-select: none;
}

.u-round {
  display: block;
  background-color: #191919;
  padding: 20px;
  font-family: Arial;
  border-bottom: solid #E2C438 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 4px #2a2a2a;
}

.u-round-stat {
  font-size: 20px;
  margin-bottom: 10px;
  display: table-cell;
  padding: 2.5%;
}

.round-crashed {
  border-bottom: solid #ff0000 5px;
}

.round-stat {
  font-size: 18px;
  user-select: none;
}

.round-integrity {
  font-weight: normal;
  float: right;
  user-select: none;
}

.u-round-integrity {
  font-weight: normal;
  float: right;
  user-select: none;
}
