.rule {
  user-select: none;
  border-bottom: solid #E2C438 5px;
  display: block;
  padding: 15px;
  background-color: #191919;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
    box-shadow: 0 0 4px 4px #2a2a2a;
}

.rule-number {
  float:left;
  display: inline-block;
  font-size: 100px;
  line-height: 60px;
  margin-right: 10px;
  font-family: 'Sigmar One', Arial;
}

.rule-info {
  padding: 5px;
  margin: 0px;
  font-family: Arial;
  float:left;
  display: block;
}

.rule-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 30px;
}

.rule-desc {
  font-size: 16px;
}
