.stat {
  display: inline-block;
  background-color: #191919;
  height: 100px;
  width: 28%;
  padding: 10px;
  text-align: center;
  font-family: 'Sigmar One', Arial;
  box-shadow: 0 0 4px 4px #2a2a2a;
  min-width: 180px;
}

.stat-header {
  line-height: 50px;
  font-size: 35px;
  user-select: none;
}

.stat-value {
  font-size: 27px;
  font-family: 'Sigmar One', Arial;
}

.stats {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.chart {
  margin-bottom: 20px;
}

.chart-label {
  font-family: 'Sigmar One', Arial;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  user-select: none;
}
