{% extends "layout.html" %}
{% block title %}Rules{% endblock %}
{% block active %}rules{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/rules.css">
<meta property="og:title" content="BeeStation - Rules" />
<meta property="og:description" content="BeeStation is a newbie friendly Space Station 13 server. The server was created in march 2018. We like to put a fun touch to the rounds to make a better experience." />
{% endblock %}


{% block content %}
<div class="rule"><span class="rule-number">1</span>
  <pre class="rule-info">
    <span class="rule-title">Don't Be a Dick</span>

    <span class="rule-desc">Others are here to play the game and have fun, just like you.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">2</span>
  <pre class="rule-info">
    <span class="rule-title">Listen to Admins</span>

    <span class="rule-desc">Admins have the final say in all matters, and all cases/tickets are up to admin discretion.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">3</span>
  <pre class="rule-info">
    <span class="rule-title">Don't Grief</span>

    <span class="rule-desc">Blowing up the station, or just arrivals can make it pretty unfun for new players joining.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">4</span>
  <pre class="rule-info">
    <span class="rule-title">Don't suddenly leave as a head of staff</span>

    <span class="rule-desc">We understand that sometimes stuff comes up. Just adminhelp first.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">5</span>
  <pre class="rule-info">
    <span class="rule-title">No alts/multikeying</span>

    <span class="rule-desc">No using an alternate account to help yourself out. This is also a form of metagaming.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">6</span>
  <pre class="rule-info">
    <span class="rule-title">You must speak English IC and OOC</span>

    <span class="rule-desc">Sorry my non-english-speaking friends. Engrish only.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">7</span>
  <pre class="rule-info">
    <span class="rule-title">Don't Powergame</span>

    <span class="rule-desc">Do not hoard weapons or stock up on gear unless you're a role who's supposed to do it. Etc.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">8</span>
  <pre class="rule-info">
    <span class="rule-title">Don't Metagame</span>

    <span class="rule-desc">Don't talk with others externally about the round. No IC in OOC, no OOC in IC.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">9</span>
  <pre class="rule-info">
    <span class="rule-title">Don't sabotage your team as a team antag</span>

    <span class="rule-desc">That's not really the point of team antag.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">10</span>
  <pre class="rule-info">
    <span class="rule-title">Heads and Security must follow space law</span>

    <span class="rule-desc">No ifs, ands, or buts. SPACE LAW!</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">11</span>
  <pre class="rule-info">
    <span class="rule-title">Don't set up engine without engine skills</span>

    <span class="rule-desc">You're likely to start a plasma fire or blow up the station.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">12</span>
  <pre class="rule-info">
    <span class="rule-title">You cannot harm other crewmembers</span>

    <span class="rule-desc">Unless you are the antagonist of course. Feel free to carry out your objectives then.</span>
  </pre>
</div>
<div class="rule"><span class="rule-number">13</span>
  <pre class="rule-info">
    <span class="rule-title">Play the job you chose</span>

    <span class="rule-desc">The station needs a crew. Don't blow yourself up with potassium every time like me.</span>
  </pre>
</div>
{% endblock %}
